.header-landing img{
    width: 100% !important;
    height: 80% !important;
    object-fit: fill !important;
}

.header-landing {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botao{
    background-color: #012e40 !important;
    color: white !important;
}

.botao:hover{
    background-color: white !important;
    color: #012e40  !important;
    transition: 500ms linear;
}


.white {
    height: 100vh;
}

.text h2{
    margin-top: 6rem;
    text-align: center;
    font-size: 50px;
}

.cards {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 5rem;
    gap: 2rem;
}

.card1 {
    background-color: #d9d9d9;
    width: 300px;
    height: 428px;
}

.card2 {
    background-color: #d9d9d9;
    width: 300px;
    height: 428px;
}

.card3 {
    background-color: #d9d9d9;
    width: 300px;
    height: 428px;
}

.card4 {
    background-color: #d9d9d9;
    width: 300px;
    height: 428px;
}

/* photo1
photo2
photo3
photo4 */

.text1{
    text-align: center;
    margin-top: 18rem;
    font-weight: bold;
}

.text2{
    text-align: center;
    margin-top: 18rem;
    font-weight: bold;
}

.text3{
    text-align: center;
    margin-top: 18rem;
    font-weight: bold;
}

.text4{
    text-align: center;
    margin-top: 18rem;
    font-weight: bold;
}

.bluepart {
    height: 70vh;
    background-color: #4063B8;
}

.conteudo p, iframe{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
}


.textbluepart p{
    color: #ffff;
    text-align: center;
    margin-top: 1rem;
}

.video iframe {
    background: black;
    border: none;
    margin: 0 auto;
    margin-top: 5rem;
}

.endpart {
    height: 30vh;
}

.endtext p{
    text-align: center;
    font-size: 50px;
    margin-top: 1rem;
}

.botao2{
    background-color: rgb(0, 0, 0) !important;
    color: #ffffff !important;
}

.botao2:hover{
    background-color: #012e40 !important;
    color:  white !important;
    transition: 500ms linear;
}

.btn-cds {
    margin-top: 3rem;
    text-align: center;
}