.imageredonda {
  border-radius: 50%;
}
.homeImg {
  width: 50px;
  height: 15%;
  margin-left: 35% !important
}

.tabs {
  position: fixed;
    background-color: #023859 !important;
}

.nav-pills .nav-item .nav-link {
  color: #FFF !important;
  border-bottom: none !important;
}

.nav-pills .nav-link.active, .nav-pills .nav-link:hover {
  color: #023859 !important;
  background-color: white !important;
}

.textobranco{
  margin-top: 10px !important;
}
  
  /* .tab {
    margin-right: 20px;
    cursor: pointer;
    color: #212529;
    color: #FFF !important;
    text-decoration: none;
  }
  
  .tab.active {
    font-weight: bold;
    color: white;
  }
  
  .tab:hover {
    color: #007bff;
  }
  
  .tab:focus {
    outline: none;
  } */

  