.Home{
  display: flex;
}
.Feed {
    padding-left: 20%;
    width: 100% !important;
    justify-content: center;
}
.FacaPub {
    background-color: rgb(255, 255, 255);
    height: 140px;
    width: 55%;
    border-radius: 2px;
}

.FacaPub{
    margin-top: 1%;
}

.ConteudoPerfil{
    padding-top: 5%;
    padding-left: 5%;
    display: flex;
}

.TextoPub{
    padding-top: 5%;
    padding-left: 2%;
}

.Publicacao {
    margin-top: 2%;
    background-color: rgb(255, 255, 255);
    height: 60%;
    width: 55%;
    border-radius: 2px;
}

.parteCima {
    padding-left: 3%;
    padding-top: 3%;
    display: flex;
}
.nomesPerfil {
    display: flex;
}

.nomePerfil p{
    width: 100%;
    height: 100%;
    margin-top: 13%;
    margin-left: 10%;
    font-size: 15px;
    font-weight: bold;
}

.areaAPerfil p {
    margin-left: 40%;
    margin-top: 30%;
    color: grey;
}

.TituloPubli {
    align-items: flex-start;
    text-align: left;
    margin-top: 2%;
    margin-left: 3%;
}

.BtnsBaixo{
}

.slide_from_top{
    background-color: #ffffff; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 43.7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.8ms;
}

.slide_from_top:hover{
    background-color: black;
    color: #ffffff;
}


.Trending{
    margin-left: auto; /* usei essa bomba para deixar a div na direita */
    float: right;
    background-color: #023859;
    height: 100vh;
    width: 12%;
    transition: 1.1s;
}

.Trending:hover{
    float: right;
    background-color: #023859 !important;
    height: 100vh;
    width: 18%;
}

.Noticias{
    padding-top: 2.2rem;
    padding-bottom: 1rem;
    color: white;
    text-align: center;
    font-weight: bold;
}

.CardsNoticiais {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Noticia1, .Noticia2, .Noticia3, .Noticia4 {
    margin: 0 auto;
    height: 180px;
    width: 130px;
    background-color: white;
    transition: 1.1s;
}

.Noticia1, .Noticia2, .Noticia3, .Noticia4 p {
    text-align: center;
}

.Noticia1:hover {
    background-color: #d9d9d9;
    width: 200px;
}

.Noticia2:hover {
    background-color: #d9d9d9;
    width: 200px;
}

.Noticia3:hover {
    background-color: #d9d9d9;
    width: 200px;
}

.Noticia4:hover {
    background-color: #d9d9d9;
    width: 200px;
}


@media (max-width:642px) {
    .Home{
        padding: 0 0 0 0;
        width: 100%;
    }
    .Feed{
        padding: 0 0 0 0;
        width: 100vw;
    }
    .Trending {
        display: none;
    }
}

@media (max-width:768px) {
    .Trending {
        display: none;
    }
}


@media (max-width:1024px) {

}