.title {
    margin-top: 1%;
    margin-right: 10%;
    text-align: center;
    color: #023859;
    font-weight: bolder;
  }
  
  .videoPlus {
    margin-left: 6% !important;
  }
  
  .video-area {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .textPlus {
    color: #023859;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 20px;
    width: 500px;
  }
  
  .botao-login {
    width: 30%;
    margin-top: 4%;
    margin-left: 30%;
    background-color: #00436C !important;
  }
  
  .botao-login:hover {
    background-color: #0077ffd3 !important;
  }
  
  .botao-login p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    margin: auto;
  }
  
  @media only screen and (max-width: 600px) {
    .title {
      margin-right: 0;
      font-size: 24px;
    }
  
    .video-area {
      flex-direction: column;
    }
  
    .videoPlus {
      margin-left: 0 !important;
      width: 100%;
      height: auto;
    }
  
    .textPlus {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
      font-size: 16px;
    }
  
    .botao-login {
      width: 80%;
      margin-left: 10%;
      font-size: 16px;
    }
  }
  