.Cards{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 4rem;
}

.textH1{
  color: #023859 !important;
  text-align: center;
  font-size: 35px !important;
}

.textH2{
  text-align: center;
  color: #023859 !important;
  font-size: 35px !important;
}

.textPreco p{
  color: #023859;
  text-align: center;
  font-size: 30px !important;
}

.TextAzul{
  color: #023859;
  font-weight: bold;
  font-size: 25px;
}

.TextCinza{
  color: rgb(80, 80, 80) ;

}

.PrecoGrande{
  color: rgb(80, 80, 80);
  font-weight: bold;
  font-size: 30px;
}

.PrecoGrandeDois{
  margin-top: 1.9rem;
  color: rgb(80, 80, 80);
  font-weight: bold;
  font-size: 30px;
}

.Assine{
width: 100%;
}

